.footer {
  background: #111;
  color: #ddd;
  padding: 30px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-left h2 {
  color: #fff;
  margin-bottom: 8px;
}

.footer-links a,
.footer-socials a {
  color: #ddd;
  margin-right: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover,
.footer-socials a:hover {
  color: #1e90ff; /* nice blue hover */
}

.footer-left,
.footer-links,
.footer-socials {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
