.shop-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(240, 238, 230),
    rgb(223, 222, 218),
    #f1eee8
  );
}
