.shop-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgb(231, 228, 218),
    rgb(223, 222, 218),
    #f1eee8
  );
}

.clothes-container {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 800px;
  height: 700px;
  overflow-y: scroll;
  background-color: #fff;
  padding: 20px;
  margin: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.clothes-card h3 {
  width: 100px;
  text-align: center;
}

.clothes-card-img {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.clothes-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* _____________________________ */
